.login-container {
    width: 360px;
    padding: 2rem 1.5rem;
    background-color: white;
    border-radius: 6px;
}

body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    clear: both;
    content: "";
    box-sizing: border-box;
    overflow: hidden;
}
.navigation-control {
    position: fixed;
    width: 100vw;
    background-color: rgb(142, 10, 146) !important;
}

.navigation-control .nav-link,.navbar-brand {
    color: white !important;
    font-size: 1.3rem;
}
#toggler-sidebar {
    visibility: visible;
}
.wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: calc(100% - 64px);
    width: 100%;
    padding-top: 64px;
}
.sidebar {
    position: fixed;
    height: 100vh;
    min-height: 100vh;
    width: 0px;
    background-color: rgb(29, 29, 29);
    display: none;
    z-index: 1;
}
.sidebar.show {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.logo-container {
    width: 100px;
    text-align: center;
    margin: auto;
}
.main-content {
    width: 100vw;
    overflow-x: none;
    overflow-y: auto;
}
.card {
    height: 100%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .main-content {
        width: calc(100% - 300px);
        margin-left: auto;
    }
    #toggler-sidebar {
        visibility: hidden;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
